@import "reset.css";

.develop-notification {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100%;
    background: #000;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

#cursor {
    --width: 20px;
    --height: 20px;
    --border-radius: 50%;
    --opacity: .2;
    width: var(--width, 20px);
    height: var(--height, 20px);
    background: rgba(0, 0, 0, var(--opacity));
    border-radius: var(--border-radius, 50%);
    position: absolute;
    left: var(--cursor-x, 0);
    top: var(--cursor-y, 0);
    z-index: -1;
}

a {
    color: #21201F;
    position: relative;
}

a:hover {
    transition: background-position .4s;
    background-position: -100% 0;
}

body {
    overflow: hidden;
}

header {
    display: flex;
    width: 100%;
    padding: 15px 40px;
    gap: 20px;
}

header a:first-of-type {
    margin-right: auto;
}

header a {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.01em;
    word-spacing: -0.1em;
    font-size: 17px;
    padding: 3px 5px;
}

/*.link-hover:after {*/
/*    content: "";*/
/*    background: #21201F;*/
/*    position: absolute;*/
/*    top: 23px;*/
/*    left: 5%;*/
/*    height: 3px;*/
/*    animation: left-to-right .4s forwards;*/
/*    border-radius: 5px;*/
/*}*/

/*.link-hover-out:after {*/
/*    content: "";*/
/*    background: #21201F;*/
/*    position: absolute;*/
/*    top: 23px;*/
/*    left: 5%;*/
/*    border-radius: 5px;*/
/*    height: 3px;*/
/*    animation: right-to-left .4s alternate;*/
/*}*/

.link-hover:after {
    content: "";
    background: #21201F;
    position: absolute;
    top: 23px;
    left: 49%;
    height: 3px;
    animation: left-to-right .4s forwards;
    border-radius: 5px;
}

.link-hover-out:after {
    content: "";
    background: #21201F;
    position: absolute;
    top: 23px;
    left: 5%;
    border-radius: 5px;
    height: 3px;
    animation: right-to-left .4s alternate;
}

.link-hover:before {
    content: "";
    background: #21201F;
    position: absolute;
    top: 23px;
    right: 49%;
    height: 3px;
    animation: left-to-right .4s forwards;
    border-radius: 5px;
}

.link-hover-out:before {
    content: "";
    background: #21201F;
    position: absolute;
    top: 23px;
    right: 5%;
    border-radius: 5px;
    height: 3px;
    animation: right-to-left .4s alternate;
}

@keyframes left-to-right {
    0% {
        width: 0;
    }
    100% {
        width: 46%;
    }
}

@keyframes right-to-left {
    0% {
        width: 46%;
    }
    100% {
        width: 0;
    }
}

#main-section {
    padding: 20px 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: calc(100vh - 81px);
}

#main-section h1 {
    font-size: 50PX;
    width:1000px;
}

.text-cursor:after {
    opacity: 0.3;
}

.text-cursor:after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 45px;
    background-color: #1d1d26;
    margin: 0 0 -3px 7px;
    border-radius: 5px;
}

.text-cursor-active {
    opacity: 1;
}

.text-cursor-active:after {
    animation: text-cursor infinite 1.3s;
}

/*.skills-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    height: 100%;*/
/*    margin-left: auto;*/
/*    gap: 150px;*/
/*    padding-top: 100px;*/
/*}*/

/*.skills-container .skill-cont {*/
/*    width: 150px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 5px;*/
/*}*/

/*.skills-container .skill-cont h2 {*/
/*    font-size: 24px;*/
/*    font-weight: 500;*/
/*}*/

/*.skill {*/
/*    --fill-percent: 100%;*/
/*    width: 100%;*/
/*    height: 6px;*/
/*    position: relative;*/
/*    border-radius: 3px;*/
/*    box-shadow: 0 0 10px 1px rgba(58, 123, 213, .6);*/
/*}*/

/*.skill:after {*/
/*    content: "";*/
/*    display: block;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    height: 6px;*/
/*    width: var(--fill-percent);*/
/*    background: #3a7bd5;  !* fallback for old browsers *!*/
/*    background: -webkit-linear-gradient(to right, #3a6073, #3a7bd5);  !* Chrome 10-25, Safari 5.1-6 *!*/
/*    background: linear-gradient(to right, #3a6073, #3a7bd5); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
/*    border-radius: 3px;*/
/*}*/

/*.skills-container .skill-cont:hover .skill {*/
/*    box-shadow: 0 0 10px 1px rgba(144, 78, 149, .6);*/
/*}*/

/*.skills-container .skill-cont:hover .skill:after {*/

/*    background: #e96443;*/
/*    background: -webkit-linear-gradient(to right, #e96443, #904e95); !* Chrome 10-25, Safari 5.1-6 *!*/
/*    background: linear-gradient(to right, #e96443, #904e95); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
/*}*/


#cv-main {
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    filter: blur(1.5px);
    transition: filter .5s;
}

#cv-main:hover {
    filter: blur(0);

}

#cv-main.active {
    position: absolute;
    right: 50px;
    top: 10%;
    width: auto;
    height: 80%;
}







@keyframes text-cursor {
    from {
        background-color: rgba(0, 0, 0, 0.9);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}